:root {
  --color: grey;
  --color-accent1: #e31baa;
  --color-accent2: #0af2fa;
}

.hex {
  height: 12em;
  width: 12em;
  background: var(--color-accent2);
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  box-shadow: rgba(0, 0, 0) 0px 2px 8px;
}

.inner {
  background-color: black;
  -webkit-transform: scale(.95, .95);
  -moz-transform: scale(.95, .95);
  transform: scale(.95, .95);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hex-text {
  margin-top: 0.5em;
  color: white;
  font-size: 1.5em;
}

.hex-logo {
  margin: 0;
  z-index: 2;
  height: 7em;
  width: 7em;
}