@media screen and (max-width: 600px) {
    .navbar {
        display: none;
    }

    .about {
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: space-evenly;
    }

    .gallery-container {
        height: 100vh;
    }

    .middleInfo {
        margin: 0;

    }

    .hex-text {
        margin-top: 0.5em;
        color: white;
        font-size: 4vw;
      }
      
      .hex-logo {
        margin: 0;
        z-index: 2;
        height: 14vw;
        width: 14vw;
      }

    .portrait {
        height: 15vh;
        width: 15vh;
    }


    .about-list > li {
        display: flex;
        align-items: center;
        margin: 0.4em;
        height: 0.3vh;
        font-size: 5vw;
    }

    .hex {
        height: 25vw;
        width: 25vw;
    }

    .contact-section {
        display: flex;
    }
    
    .contact-div-title {
        position: relative;
        top: 6em;
        font-size: 1em;
        z-index: 2;
        gap: 2em;
    }

    .contact {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 5em;
    }

    .contact-div {
        height: 2.5em;
        width: 16em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-size: 1em;
    }

    .contact-title, .contact-data {
        margin: 0;
    }

    .carousel-div > input {
        display: none;
    }

    .carousel-div {
        grid-template-columns: 1fr 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 1fr;
    }

    div.item {
        width: 45vh;
    }
}