@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-accent1: #e31baa;
  --color-accent2: #0af2fa;
}

body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: white;
}
html {
  scroll-snap-type: y mandatory;
}



body {
  background-color: #151a17;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #EEEEEE;
  background-color: #151a17;
}

.left-nav {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 1rem;
}

.page-links {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding-right: 1rem;
}

.about {
  display: flex;
  height: 100vh;
  justify-content:center;
  align-items: center;
  z-index: 1;
  scroll-snap-align: start;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  background-color: #151a17;
  scroll-snap-align: start;
}

.item {
  box-shadow: rgba(0, 0, 0) 0px 2px 8px;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #EEEEEE;
  scroll-snap-align: start;
}

.btn {
  background-color: #2d312f;
  color: #EEEEEE;
  box-shadow: rgba(0, 0, 0) 0px 2px 8px;
}


.gallery-arrow-div {
  position: absolute;
  width: 100vw;
  display: flex;
}

#forward-arrow-div {
  justify-content: end;
}

.gallery-arrow {
  height: 3em;
  width: 3em;
  cursor: pointer;
}

#back-arrow {
  padding-left: 1em;
  z-index: 1;
  cursor: pointer;
}

#forward-arrow {
  padding-right: 1em;
}

.skill-logo {
  height: 2rem;
  width: 2rem;
}

.right-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em;
}

.row1, .row2, .row3 {
  display: flex;
}

.skill-div > p {
  padding:0;
  margin:0;
}

.skill-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 5em;
  width: 5em;
  border: 1px solid var(--color-accent2);
  margin: 1em 0.5em;
  padding: 1em;
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0) 0px 2px 8px;
  background-color: black;
}

.portrait-div{
  margin: 0 10em;
}

.portrait {
  border-radius: 10em;
  box-shadow: rgba(0, 0, 0) 0px 2px 8px;
}

.about-list {
list-style-type: none;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.left-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-list > li {
  margin: 2em;
  font-size: 2em;
  border: 1px solid var(--color-accent1);
  padding: 1em;
  border-radius: 1em;
  background-color: black;
  box-shadow: rgba(0, 0, 0) 0px 2px 8px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #EEEEEE;
  scroll-snap-align: start;
}

.contact-div {
  margin: 2em;
  font-size: 2em;
  border: 1px solid var(--color-accent1);
  padding: 1em;
  border-radius: 1em;
  background-color: black;
  box-shadow: rgba(0, 0, 0) 0px 2px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
}

.contact-div-title {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 2em;
}

.contact-title, .contact-data {
  margin: 1em;
  display: flex;
  justify-self: center;
  align-self: center;
}

.github-data {
  font-size: 0.93em;
}

.email > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 60px;
}

#email-icon {
  position: absolute;
  width: 3em;
  height: 3em;
  ;
}