body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.navbar {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.left-nav {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 1rem;
}

.page-links {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding-right: 1rem;
}

.header {
  display: flex;
  justify-content:center;
  align-items: center;
  border: 1px solid black;
}

